html, body {
  margin: 0;
  padding: 0;
  /* background-color: orange; */
}
main{
    margin: auto;
    margin-top: 20px;
    width: 30%;
    /* background-color: aqua; */
}
canvas {
  display: block;
}

input{  
  position: absolute;
  left: 60px;
  top: -5px;
  width: 40px;
}

select{
  position: absolute;
  left: 110px;
  top: -5px;
  width: 50px;
}


span{
  margin-right:15px;
}


main div {
  position: relative;
  /* top: 180px; */
  /* left: -150px; */
  height:1.5em;
}